html, body {
	height: 100%;
	margin:0;
}
body {
	font: 700 13px/22px 'Istok Web', Arial, Helvetica, sans-serif;
	min-width: 320px;
	background: #fff;
}
.wrapper {
	margin: 0 auto;
}
img {	
	width: 100%;
	display: block;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 40px;
	line-height: normal;
	color: #775ba3;
	margin-bottom: 50px;
	text-align: center;
}
.header {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 5px;
	overflow: hidden;
}
.wrapper-header {
	position: relative;
	background-color: rgba(119,91,163,0.7);
	z-index: 5;
}
.logo {
	display: block;
	width:145px;
	height:47px;
	background: url("../img/img-logo.png") no-repeat;
	text-indent:-9999px;
	float: left;
	background-size: cover;
}
.logo a {
	display: block;
	height:100%;
}
.navbar {
	float: left;
	margin-left: 120px;
}
.navbar li{
	padding-right: 30px;
	display: inline-block;
	font-size: 14px;
	font-variant: normal;
	text-shadow: 1px 1px 1px #876885;
}
.navbar a {
	line-height: 70px;
	color: #fff;
}
.right-nav {
	float: right;
	margin-top: 20px; 
}
.right-nav li {
	display: inline-block;
	text-indent:-9999px;
	width: 24px;
	height: 23px;
	margin-left: 40px; 
}
.right-nav a {
	display: block;
	height:100%;
	background: url("../img/ico-sprite-right-nav.png") no-repeat;
}
.navbar a:hover,
.navbar a.active {
	border-bottom: 2px solid #f8e1b4;
	padding-bottom: 23px;
}
.head a {
	background-position: 0 0;
}
.glass a {
	background-position: -26px 0;
}
.lock a {
	background-position: -50px 0;
}
.text-block1 {
	padding: 120px 15px;
	text-align: center;
	color: #4b3f55;
	font-size: 23px;
	line-height: 36px;
	max-width: 1170px;
	margin: 0 auto;
}
.text-block2 {
	background-color: #fcfcfc;
	border-top: 1px solid #91c5a9;
	border-bottom: 1px solid #91c5a9;
	padding: 120px 0;
	margin: 0 auto;
}
.wrapper-block {
	overflow: hidden;
	color: #333366;
	font-size: 13px;
	line-height: 22px;
	max-width: 1170px;
	margin: 0 auto;
}
.wrapper-block div {
	width: 33%;
	padding: 0 15px;
	text-align: center;
	float: left;
}
.number {
	display: inline;
	font-size: 53px;
	line-height: 22px;
	color: #91c5a9;
}
.wrapper-block p {
	display: inline;
}
.wrapper-block img {
	padding-bottom: 54px;
	max-width: 882px;
	margin: 0 auto;
}
.photo-team {
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 115px;
}
.about-members {
	display: table;
	width: 100%;
	border-spacing: 30px 0;
	margin-bottom: 120px;
}
.about-members>div {
	display: table-cell;
	width: 33%;	
}
.about-members img {
	border-bottom: 3px solid #91c5a9;
}
.name>p {
	font-size: 15px;
	color: #91c5a9;
}
.prof {
	font-size: 12px;
	font-style: normal;
}
.name {
	padding: 15px 0;
	width: 100%;
	border-bottom: 3px solid #91c5a9;
}
.info>p {
	font: 400 13px/18px "Istok Web", Arial, Helvetica, sans-serif;
	color: #4b3f55;
	padding: 20px 0 35px;
}
.about-members a {
	text-indent: -9999px;
	position: relative;
	width: 50%;
	height: 60px;
	display: block;
}
.about-members a:before {
	content: "";
	position: absolute;
	top: 27%;
	right: 43%;
	width: 30px;
	height: 31px;
	background: url("../img/social-sprite.png") no-repeat;
}
.left {
	float:left;
}
.right {
	float:right;
}
.fb {
	background-color: #375696;
}
.about-members a.fb:before {
	background-position: 0 0;
}
.g {
	background-color: #d14333;
}
.about-members a.g:before {
	background-position: -35px 0;
}
.unk {
	background-color: #e94b87;
}
.about-members a.unk:before {
	background-position: -104px 0;
}
.tw {
	background-color: #00aced;
}
.about-members a.tw:before {
	background-position: -70px 0;
}
.you {
	background-color: #c60b0b;
}
.about-members a.you:before {
	background-position: -140px 0;
}
.promotion {
	padding-top: 90px;
	background-color: #9c88bc;
}
.promotion-wrapper {
	color: #fff;
	max-width: 1170px;
	margin: 0 auto;
}
.promotion h1 {
	color: #fff;
	margin-bottom: 95px;
}
.promotion p {
	padding: 40px 0 50px;
}
.promo-main {
	width: 100%;
	display: table;
	overflow: hidden;
	padding-bottom: 115px;
}
.row>div {
	display: table-cell;
	width: 50%;
}
.row {
	display: table-row;
}
.promo-main.row:last-child>div{
	margin-top: 60px;
}
h3 {
	color: #fff;
	text-align: center;
}
.promo-main a {
	display: block;
	width: 195px;
	border: 5px solid #fff;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
}
h4 {
	font-size: 35px;
	line-height: 47px;
}
.visual1 {
	padding: 0 50px 0 15px;
}
.visual2 {
	padding: 60px 15px 0 50px;
}
.view1 {
	padding: 0 15px;
}
.view2 {
	padding: 60px 15px 0 15px;
}
.blockquote {
	background-color: #fdfdfd;
	padding: 110px 0 130px;
	border-bottom: 1px solid #91c5a9;
}
.blockquote-wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px 0 20px;
}
.circle img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.circle {
	float: left;
	width: 16%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0 0 0 0.34vw #91c5a9;
	position: relative;
	padding: 5px;
	position: relative;
}
.circle:before {
	content: "";
	background: url("../img/img-quote.png") no-repeat;
	background-size: cover;
	position: absolute;
	top: 30%;
	right: -10%;
	height: 13%;
	width: 10%;
	display: block;
}
cite {
	color: #7e63a8;
	font-size: 16px;
	margin: 25px 0 45px;
	float: right;
}
q:before {
	content: "";
	background: url("../img/quotes-sprite.png") no-repeat 0 0;
	position: relative;
	top: -7px;
    right: 15px;
	height: 17px;
	width: 23px;
	display: block;
}
cite:after {
	content: "";
	background: url("../img/quotes-sprite.png") no-repeat -28px 0;
	position: relative;
	top: 50px;
	height: 17px;
	width: 23px;
	display: block;
	float: right;
}
q {
	color: #4b3f55;
	font-size: 27px;
	line-height: 47px;
	display: block;
	text-align: left;
}
q:after {
	content: "";
}
.blockquote-wrapper span:before {
	content: '';
	position: absolute;
	top: 12px;
	display: block;
	width: 100%;
	height: 100%;
	background: url("../img/bg-heart.png") no-repeat;
}
.blockquote-wrapper span {
	position: relative;
	text-indent:-9999px;
	display: inline-block;
	width: 24px;
}
blockquote {
	padding: 10px 0 0 35px;
	margin-left: 16%;
	overflow: hidden;
}
.portfolio-wrapper {
	margin: 0 auto;
	max-width: 1170px;
	padding: 80px 15px 0;
}
.tab-list {
	padding-top: 60px;
	clear: both;
}
.tabset {
	position: relative;
	list-style: none;
	text-align: center;
}
.tabset li {
	display: inline-block;
}
.tabset a {
	color: #666699;
	font-size: 16px;
	line-height: normal;
	margin-right: 30px;
}
.tabset a:hover,
.tabset a.active {
	color: #666699;
	position: relative;
	border-bottom: 3px solid #91c5a9;
}
.portfolio {
	margin-bottom: 205px;
}
.pictures {
	display: table;
}
.pictures li{
	display: block;
	float: left;
	width: 25%;
}
.pictures img {
	width: 100%;
}
.photo {
	position: relative;
}
.shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.photo.active>.shadow,
.photo:hover>.shadow {
	background-color: rgba(248,225,180,0.7);
}
.row>a {
	display: table-cell;
}
.photo.active>.shadow:after,
.photo.active>.shadow:before,
.photo:hover>.shadow:after,
.photo:hover>.shadow:before {
	content: "";
	position: absolute;
	top: 39.54%;
	left: 28.62%;
	background: url("../img/bg-eye.jpg") no-repeat;
	background-size: cover;
	width: 19%;
	height: 21%;
}
.photo.active>.shadow:after,
.photo:hover>.shadow:after {
	background: url("../img/bg-plus.jpg") no-repeat;
	left: 51.03%;
	background-size: cover;
}
footer.form {
	background-color: #91c5a9;
}
.footer-wrapper {
	overflow: hidden;
	max-width: 1170px;
	margin: 0 auto;
}
h5 {
	font-size: 23px;
	line-height: normal;
	color: #fff;
	text-align: center;
	padding: 60px 0 20px;
}
.footer-wrapper>div {
	float: left;
	width: 25%;
	padding: 15px;
}
.form .footer-wrapper p {
	color: #fff;
	line-height: normal;
	word-break: break-all;
}
.tags a {
	display: inline-block;
	background-color: #419568;
	padding: 10px 15px;
	color: #fff;
	line-height: normal;
	margin-bottom: 10px;
}
.mar {
	margin-right: 5px;
}
.snippet p {
	text-align: left;
}
input[type="text"],
input[type="email"] {
	float: right;
	width: 74%;
	line-height: 27px;
	margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
	padding: 0 5px;
	font: 700 13px/22px "Istok Web", Arial, Helvetica, sans-serif;
	color: #419568;
	border: 2px solid #70b18e;
}
label {
	width: 26%;
	float: left;
	padding-top: 7px;
	word-wrap: break-word;
}
.form {
	width: 100%;
	overflow: hidden;
}
textarea {
	float: right;
	width: 74%;
}
.twetter a:hover {
	text-decoration: underline;
}
.twetter p {
	text-align: center;
}
.twetter p>a {
	color: #fff;
	text-align: center;
}
input[type="submit"] {
	margin: 0 auto;
	display: block;
	background-color: #419568;
	color: #fff;
	padding: 10px 15px;
	border: none;
	font-weight: 700;
	cursor: pointer;
}
div.form:last-child {
	margin: 0;
}
.copyright {
	background-color: #54865d;
	padding: 35px 0 27px;
}
.copyright-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	padding-right: 15px;
}
.nav-in-footer {
	float: right;
}
.nav-in-footer li{
	display: inline-block;
	color: #fff;
	margin-left: 25px;
}
.nav-in-footer li a {
	color: #fff;
}
.links {
	float: left;
}
.copyright-wrapper p {
	word-break: break-all;
}
.copyright p {
	color: #fff;
}
.copyright-wrapper p a {
	color: #fff;
}
@media screen and (max-width: 955px) {
	.nav-in-footer {
		float: none;
		text-align: center;
	}
	.copyright-wrapper {
		overflow: auto;
	}
	.links {
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 925px) {
	.right-nav {
		display: none;
	}
}
@media screen and (max-width: 896px) {
	.prof {
		display: block;
	}
}
@media screen and (max-width: 725px) {
	.navbar {
		float: right;
		margin-left: 0;
	}
}
@media screen and (max-width: 640px) {
	.pagination {
		display: none;
	}
	.promo {
    	max-height: 220px;
    }
	.navbar ul {
		display: none;
	}
	.menu {
		padding: 0 30px;
		position: absolute;
		right: 0;
		margin-top: -5px;
		height: 100%;
		background-color: #775ba3;
		cursor: pointer;
	}
	.menu:before {
		content: "";
		position: absolute;
		left: 15px;
		top: 15px;
		width: 32px;
		height: 4px;
		background: #fff;
		box-shadow: 
		0 9px 0 0 #fff,
		0 18px 0 0 #fff;
	}
	.menu:hover>ul {
		display: block;
		position: absolute;
		font-style: normal;
		top: 20px;
		right: 25px;
		background-color: #775ba3;
	}
	.navbar li a {
		padding: 0px 100px;
		display: block;
		color: #fff;
		width: 100%;
		text-align: center;
	}
	.navbar a:hover,
	.navbar a.active {
		padding-bottom: 0;
		border-bottom: none;
		background-color: #a795c1;
	}
	.navbar li {
		display: block;
		margin-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.wrapper-block div {
		width: 100%;
		padding: 10px 15px;
	}
	.wrapper-block p {
		font-size: 24px;
	}
	i.prof {
		display: block;
	}
	.info>p {
		font-size: 24px;
	}
	footer.form {
		display: none;
	}
	.portfolio {
		margin-bottom: 15px;
	}
	.promo-wrapper img {
		display: none;
	}
	.row>div {
		width: 100%;
		text-align: center;
	}
	.promo-main a {
		margin: 0 auto;
	}
	.promo p { 
		font-size: 24px;
		line-height: normal;
	}
	.about-members a {
		width: 100%;
	}
	.tabset a {
		font-size: 24px;
	}
	.visual2,
	.visual1 {
		padding: 15px;
	}
	.pictures {
		display: block;
	}
	.row>div {
		display: block;
		width: 100%;
		height: auto;
	}
	.pictures li {
		width: 100%;
		max-height: auto;
	}
	.shadow {
		display: none;
	}
}
@media screen and (max-width: 553px) {
	.about-members>div {
		display: block;
		width: 100%;
	}
	.about-members {
		border-spacing: 0 15px;
	}
	.about-members a {
		width: 50%;
		margin-bottom: 50px;
	}
	.name {
		text-align: center;
	}
	i.prof {
		display: inline-block;
	}
	q {
		line-height: normal;
	}
	.circle {
		display: none;
	}
	blockquote {
		margin-left: 0;
		padding: 10px 0 0 15px;
	}
}
/*gallery*/
.wrapper-promo {
	margin-top: -72px;
	width: 100%;
}
.carousel1 .promo {
	height: 596px;
	position: relative;
	width
	width: 100%;
 	margin: 0 auto; 
 	z-index: 0;
}
.carousel1 .c1 {
	background: url(../img/bg-slide-1.jpg) no-repeat;
	background-size: cover;
}
.carousel1 .c2 {
	background: url(../img/bg-slide-2.jpg) no-repeat;
	background-size: cover;
}
.carousel1 .c3 {
	background: url(../img/bg-slide-3.jpg) no-repeat;
	background-size: cover;
}
.gallery {
	position: relative;
}
.gmask {
	overflow: hidden;
	width: 100%;
}
.gmask .slideset {
	list-style: none;
	width: 99999px;
	float: left;
	padding: 0;
	margin: 0;
}
.gmask .slide {
	white-space: nowrap;
	float: left;
	text-align: center;
}
.gallery-holder .pagination a:hover {text-decoration:none;}

.gallery-holder .pagination a {
	position: relative;
	text-decoration: none;
	display: block;
	width:20px;
	height: 20px;
	margin-right: 10px;
}
.gallery-holder .pagination ul{
	position: absolute;
	top:565px;
	left: 47%;
	list-style: none;
	z-index: 4;
	margin: 0;
	padding: 0;
}
.gallery-holder .pagination ul li {
	display: inline-block;
	text-indent: -99999px;
	white-space: nowrap;
}
.gallery-holder .pagination a:before {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
	border-radius: 50%;
	top:0;
	left:0;
}
.gallery-holder .pagination .active a:before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 50%;
	top:0;
	left:0;
	margin-top: 2px;
}
.carousel2 .gmask {
	height: 300px;
}
.carousel2 .gmask .slideset {
	width: 100%;
}
.carousel2 .gmask .slide {
	white-space: normal;
	float: none;
	width: auto !important;
}
.gallery-holder .vertical ul{
	top:367px;
}
.gallery-holder .vertical a {
	position: relative;
	text-decoration: none;
	display: block;
	width:10px;
	height: 10px;
	margin-right: 10px;
}
.gallery-holder .vertical a:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 3px solid #91c5a9;
	border-radius: 50%;
	top:0;
	left:0;
}
.gallery-holder .vertical .active a:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #91c5a9;
	border-radius: 50%;
	top:0;
	left:0;
	margin-top: 0px;
}
/*
.blokimg {position: relative;}

.overlay{
  display: none;
  height: auto;
  position: absolute;
  width: auto;
  z-index: 999;
}
.overlay .overlay_container{
  display: table-cell;
  
  vertical-align: middle;
}
.overlay_container img{
  background-color: #a795c1;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.overlay:target {
  display: table;
}*/